.align {
  background-color: rgb(162, 197, 197);
  display: flex;
  justify-content: flex-start;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
}

.cardzito {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  width: 280px;
}

.cardzito h3, p {
  display: flex;
  justify-content: center;
}

.cardzito li {
  display: flex;
  margin-left: 20%;
}

