body {
  margin: 10px;
}

.form-style {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

h1, h2 {
  margin-left: 20px;
}

.view-card {
  display: flex;
  /* border: 1px solid black; */
  /* justify-content: flex-start; */
  width: 50%;
}

.view-card div {
  margin-top: 55px;
  justify-content: center;
}

.form-style label {
  margin: 15px;
}

.form-style input, textarea, select {
  width: 98%;
}

.area-check label {
  margin-left: 0;
}

.area-check input {
  width: 10%;
}

select {
  width: 100%;
}

button {
  align-self: center;
  margin-top: 10px;
  width: 92%;
}
